In [33]:
import os
from dotenv import load_dotenv
from influxdb_client import InfluxDBClient, Point, Dialect
from influxdb_client.client.write_api import ASYNCHRONOUS
import paho.mqtt.client as mqtt
import time
import json
import requests
import pandas as pd

# Load environment variables from ".env"
load_dotenv()

# InfluxDB config
BUCKET = 'fullstack-influxdb' #  bucket is a named location where time series data is stored.
url = 'https://iot-group2-service1.iotcloudserve.net/'
token ='Dwj0HPIYScc1zvkB0zHpjxIVIssU_z_-unniio7sOcZl135FZ40ONj9ZX6jgiBWqkwpOQegRAL21Ix1z86SBJw=='
org = 'Chulalongkorn'
print("connecting to",url)

client = InfluxDBClient(

    url= url,
    token= token,
    org= 'Chulalongkorn'
)


write_api = client.write_api()

df = pd.read_csv('test_cases.csv')

# for index, value in df['predict'].iteritems():
#     # publish the data to MQTT Broker
#     datastr = f"Time: {index}, Value: {value}"
#     point = Point("sensor_data")\
#         .field("predict")
#     write_api.write(BUCKET, org, point)


# for index, value in df['predict'].iteritems():
#     # publish the data to MQTT Broker
#     datastr = f"Time: {index}, Value: {value}"
#     point = Point("sensor_data")\
#         .field("predict")
#     write_api.write(BUCKET, org, point)


    # result = mqttc.publish(MQTT_SUBSCRIBE_TOPIC, datastr)
    # status = result[0]
    # if status == 0:
    #     print(f"Send `{datastr}` to topic `{MQTT_SUBSCRIBE_TOPIC}`")
    # else:
    #     print(f"Failed to send message to topic {MQTT_SUBSCRIBE_TOPIC}")

connecting to https://iot-group2-service1.iotcloudserve.net/

In [31]:
df

,Date,Time,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count
0,2017/12/24,01:01:41,25.38,25.44,24.94,25.69,0,0,0,0,0.07,0.05,0.06,0.06,370,0.026923,0,0,0
1,2018/01/11,00:07:06,25.19,25.25,24.88,25.31,0,0,0,0,0.07,0.05,0.06,0.09,345,0.000000,0,0,0
2,2017/12/26,00:25:08,25.38,25.38,24.94,25.81,0,0,0,0,0.08,0.05,0.06,0.10,355,0.000000,0,0,0
3,2018/01/10,18:41:21,25.69,25.81,25.44,25.75,0,0,0,0,0.07,0.04,0.05,0.08,700,-1.865385,0,0,0
4,2017/12/23,20:49:28,25.88,25.81,25.50,26.00,0,0,0,0,0.07,0.05,0.06,0.07,785,-2.219231,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2017/12/23,17:43:36,26.25,26.06,25.81,26.31,150,237,187,11,1.53,0.75,3.66,0.96,780,2.226923,1,0,3
396,2017/12/22,13:25:25,26.00,27.88,25.81,26.19,164,253,270,70,0.15,0.14,0.07,0.07,860,0.880769,0,1,3
397,2017/12/22,19:19:15,26.38,28.25,26.13,26.44,143,225,174,10,0.53,0.57,1.31,0.72,1215,-0.038462,1,0,3
398,2018/01/10,16:08:11,25.69,26.13,25.63,25.81,7,7,29,26,0.15,0.43,0.19,0.11,475,2.826923,0,1,3
399,2017/12/22,18:38:24,26.31,26.69,26.00,26.44,150,235,180,10,0.48,0.47,2.48,0.25,1135,2.257692,1,1,3

In [47]:
from datetime import datetime
for index, value in df.iterrows():
    # Concatenate the strings in the desired format
    #datastr = f"Time: {value['Date']} {value['Time']}, S1_Temp: {value['S1_Temp']}"
    #print(datastr)

    #timekey = f"Time: {value['Date']} {value['Time']}"

    
    # Input string
    timestr = f"{value['Date']} {value['Time']}"

    # Define the format of the input string
    date_format = "%Y/%m/%d %H:%M:%S"

    # Convert the string to a datetime object
    date_object = datetime.strptime(timestr, date_format)

    #print(time)
    #print(date_object)
    # data = {timekey: value['Time'], 'S1_Temp': value['S1_Temp']}
    # jsonstr = json.dumps(data)
    # print(jsonstr)
    #print(type(value['S1_Temp']))
    
    point = Point("sensor_data")\
        .tag("testdates1time", "a")\
        .field("testdates1temp1", int(value['S1_Temp']))
    write_api.write(BUCKET, org, point)

0 25.38
Time: 0, Value: 25.38